$primary-color: dodgerblue;
$secondary-color: #8da7be;

$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #0a0a0a !default;
$white: #fefefe !default;
$border-color: $medium-gray !default;
$body-background: $white !default;
$body-font-color: $black !default;
