<footer class="footer">
	<div class="section">
		<div class="grid span-2 grid-vertical-center">
			<div class="cell">
				<ul class="footer-list">
					<li>
						<a href="url">Link</a>
					</li>
					<li>
						<a href="url">Link</a>
					</li>
					<li>
						<a href="url">Link</a>
					</li>
				</ul>
			</div>
			<div class="cell">
				<ul class="footer-list">
					<li>
						<a href="url">Link</a>
					</li>
					<li>
						<a href="url">Link</a>
					</li>
					<li>
						<a href="url">Link</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
