<header class="hero">
  <div class="hero-scrolling-video-container">
    <h1 class="title1">Earth Insights<br> From Space</h1>
    <h1 class="title2">Society rests on a foundation of 10,000 years of climate stability. But now the planet is changing</h1>
    <h1 class="title3">We need to make rational, data-driven decisions in this changing world</h1>
  	<!--     <video src="https://ak.picdn.net/shutterstock/videos/16831561/preview/stock-footage-extreme-zoom-out-from-city-up-to-space.webm"></video> -->
  	<!--     <video src="https://media.istockphoto.com/videos/zoom-out-earth-fly-through-clouds-into-space-video-id1280499483"></video> -->
    <video src="https://ak.picdn.net/shutterstock/videos/1060031633/preview/stock-footage--k-earth-zoom-out-from-berlin-germany-to-see-the-earth-from-space.webm"></video>
    <!-- <video src="{{root}}assets/video/world.mp4"></video> -->
  </div>
</header>
